<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Presos</span>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-row-select ng-model="selected_preso" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
        <tr md-row>
            <th md-column md-order-by="nameToLower"><span>Name</span></th>
            <th md-column md-numeric><span># Plays</span></th>
            <th md-column md-numeric>Created</th>

        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="preso in presos">
            <td md-cell>{{preso.Name}}</td>
            <td md-cell>{{preso.PlayCount}}</td>
            <td md-cell><p am-time-ago="preso.Created"></p></td>

        </tr>
        </tbody>
    </table>
</md-table-container>